# History files
.Rhistory
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.Rproj.user
.RData
ExerciseTwo/feature_frequ_files/
feature_frequ.html
RStudio/presentation/rmark.html
