.Rhistory
*-Ex.R
.Rproj.user/
.Rproj.user
.RData
*.html
*.css
*.js
Presentations/WorkInProg_SemesterPr_files/
Presentations/rsconnect
Presentations/presentation_files
Presentations/presentation_cache
NYS_Attorney_Registrations.csv
